.details-container {
  width: 1300px;
  padding: 50px;
  padding-top: 0%;
  margin-top: 5%;
  position: static;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: lighter;
  line-height: 30px;
}

#details-image {
  height: 500px;
  /* display: block; */
  margin-right: auto;
  align-items: center;
  border-radius: 165px;
}

#text-box {
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: lighter;
  line-height: 30px;
  text-align: inherit;
  padding: 50px;
  margin-top: 0%;
}
