footer {
  color: #ffffff;
  background-color: #03989e;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #242222;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 8rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 6rem;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-weight: 500;
  background-color: #03989e;
}

.footer.titles {
  font-size: 40;
  color: #ffffff;
}

footer a {
  color: inherit;
  color: #ffffff;
  background-color: #03989e;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: centre;
  padding: 0.25rem;
}

.footer li:hover {
  background-color: #1c4025;
}

.li {
  position: relative;
  z-index: 1;
  flex-grow: 0;
}

/* media queries start */

/* smartphone view*/

@media screen and (max-width: 480px) {
  footer {
    width: max-content;
  }
}

/* media queries end */
