nav {
  color: #242222;
  background-color: white;
  font-size: 60;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  padding: 20px;
  transition: color 0.2s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 10px #03989e;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: centre;
  padding: 0.25rem;
  background-color: white;
}

.nav li:hover {
  background-color: #ffffff;
}

.nav li.active {
  background-color: rgb(66, 66, 66);
}

img {
  width: 30%;
  height: 60%;
  object-fit: scale-down;
}

.button {
  justify-content: inline;
  text-align: center;
  color: white;
  font-family: var(--regular);
  text-decoration: none;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 20px;
  background-color: #03989e;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
